/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

/* VARIABLES */
/* root é o elemento pai */
:root {
  --header-height: 4.5rem;
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  /* alt p quando passar o mouse em cima mudar de coloração */
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/* BASE */
html {
  scroll-behavior: smooth;
}
body {
  font: 400 1rem 'DM sans', sans-serif;
  background-color: (var(--body-color));
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}
.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: antialiased;
}
.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.5rem;
  font: 500 1rem 'DM sans', sans-serif;
  transition: background 0.5s;
}
/* propriedade de passar o mouse */
.button:hover {
  background: var(--base-color-alt);
}
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}
.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/* LAYOUT */
.container {
  /* 1.5 rem se refere a 24px */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.section {
  padding: 5rem 0;
}
.section .title {
  margin-bottom: 1rem;
}
.section header {
  margin-bottom: 4rem;
}
.section header strong {
  color: var(--base-color);
}
.grid {
  display: grid;
  gap: 2rem;
}
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--body-color);
  top: 0;
  left: 0;
}
#header.scroll {
  /* ordem das sombras: horizontal vertical desfoque e distancia  */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
#header.scroll .logo span {
  color: var(--base-color-alt);
}
main {
  /* mesma altura do nav para ficar identico o espaçamento inicial */
  margin-top: calc(var(--header-height) + 2rem);
}

/* NAVIGATION */
nav {
  height: var(--header-height);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  text-align: center;
}
/* passar o mouse em cima dos itens do menu */
nav ul li a:hover {
  color: var(--base-color);
}
/* após o conteudo do A mas só enquanto o mouse estiver em cima */
/* isso referente a linha abaixo dos itens do menu */
nav ul li a::after {
  /* todo pseudoelemento, q é o caso, precisa ter um content mesmo q vazio */
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: 0.5s;
}
/* isso faz a largura dele crescer ao passar o mouse em cima*/
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a {
  transition: color 0.5s;
  position: relative;
}
nav .menu {
  opacity: 0;
  visibility: hidden;
  /* para fazer o icone vir de cima, transição de click */
  top: -20rem;
  transition: 0.2s;
}
nav .menu ul {
  /* faz parar de piscar quando o menu aparece, mas faz os itens sumirem */
  display: none;
}
/* faz os itens reaparecerem */
nav.show .menu ul {
  display: grid;
}
/* nav recebendo a classe show //mobile */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  /* aqui pega cem pedaços da altura */
  height: 100vh;
  /* aqui pega cem pedaços da largura */
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}
/* toggle menu, interrupitor*/
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}
nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
  transition: 0.2s;
}
nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* LOGO */
.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}
.logo span {
  color: var(--base-color);
}

/* HOME */
#home {
  overflow: hidden;
}
#home .container {
  margin: 0;
}
#home .image {
  position: relative;
}
/* elemento fantasma */
#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  /* varia de -1 a 1, para escondrr ou mostrar o elemento */
  z-index: 0;
}
#home .image img {
  position: relative;
  right: 2.93rem;
}
#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}
#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
#home .text p {
  margin-bottom: 2rem;
}
#home .text h1 {
  margin-bottom: 1rem;
}

/* ABOUT */
#about {
  background: white;
}
#about .container {
  margin: 0;
}
#about .image {
  position: relative;
}
/* elemento fantasma */
#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  /* varia de -1 a 1, para escondrr ou mostrar o elemento */
  z-index: 0;
}
#about .image img {
  position: relative;
}
#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}
#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: justify;
}

/* SERVICES */
.cards.grid {
  gap: 1.5rem;
}
.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}
.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}
.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* TESTIMONIALS */
#testimonials {
  background: white;
  /* display: block; */
}
/* tirando a margem do titulo para o card que foi criada la em cima no header para o padding de 4rem que foi dado abaixo que é necessário para manter a sombra funcionar e não ficar com um espaço muito grande*/
#testimonials header {
  margin-bottom: 0;
  /* para o titulo voltar a ficar identado com o restante da pagina*/
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
/* para o card ficar identado com o resto dos espaços da página*/
#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}
#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}
#testimonials blockquote p {
  /* por ser relativo ele segura o absoluto que está no span, ao invés do span ficar absoluto a pagina toda*/
  position: relative;
  /* espaço do parágrafo */
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}
#testimonials blockquote p span {
  font: 700 2.5rem serif;
  color: var(--base-color);
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
}
/* alinhar a imagem e o nome da pessoa*/
#testimonials cite {
  display: flex;
  align-items: center;
  font-style: italic;
}
#testimonials cite img {
  width: 2rem;
  height: 2rem;
  /* pega a imagem e encaixa cobrindo todo o espaço que estiver disposto a ela*/
  object-fit: cover;
  /* clip-path é uma propriedade que cria uma mascara */
  clip-path: circle();
  margin-right: 1rem;
}

/* SWIPERS */
/* .swiper {
  width: 37.5rem;
  height: 18.75rem;
} */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}
.swiper-pagination-bullet {
  height: 0.5rem;
  width: 0.5rem;
}
.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/* CONTACT */
#contact .grid {
  gap: 4rem;
}
#contact .text p {
  margin-bottom: 2rem;
}
#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}
#contact .button {
  border-radius: 0.2rem;
}
#contact ul.grid {
  gap: 2rem;
}
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  color: var(--base-color);
}
#contact ul li {
  display: flex;
  align-items: center;
}
